h1 {
	color: #FFA500;
	text-align: center;
	font-size: 90px;
}

* {
	background-image: url("images/spicy4.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h3 {
	color: #FFA500;
	text-align: center;
	font-size: 30px;
}

.recipe {
	color: #FFA500;
	font-weight: bold;
	font-family: "Verdana", "sans-serif", "Times New Roman";
}

li {
	text-align: center;
	list-style-position: inside;
}

img {
	display: block;
	margin: 0 auto;
	width: 700px;
	height: 500px;

}
